.tab-item {
  list-style-type: none;
  flex-shrink: 0;
}

.tab-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 20px;
  font-size: 15px;
  color: #686868;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
}

.active-tab {
  color: #d6215b;
  border-bottom: 2px solid #d6215b;
  font-weight: 600;
}

.tab-button:hover {
  color: #d6215b;
}
